AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localstack:4566
ORDERS_TABLE_NAME=orders
ORDERS_QUEUE_NAME=orders-events
INVOICE_BUCKET_NAME=order-invoices-local

